numpy>=1.15.4
parsedatetime>=2.4
python-dateutil>=2.7.5
pandas>=0.23.4
scipy>=1.1.0
pytz>=2018.3
requests>=2.18.4
sendgrid>=6.0.5
toolz>=0.9.0
urllib3>=1.22
jupyter
matplotlib
GDAL>=2.2.2
shapely
Fiona>=1.7.10
xarray>=0.11.0
rasterio>=1.0.10
